<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349572123590-55c7qap2u183hnredovieejief7igmb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349572123590-55c7qap2u183hnredovieejief7igmb4</string>
	<key>API_KEY</key>
	<string>AIzaSyDe-OqZD2LBkBgeVKy9lkcSEAz74QMU-jE</string>
	<key>GCM_SENDER_ID</key>
	<string>349572123590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stiiick</string>
	<key>PROJECT_ID</key>
	<string>stiiick-1545628981656</string>
	<key>STORAGE_BUCKET</key>
	<string>stiiick-1545628981656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:349572123590:ios:7d17f792ffe36e62</string>
	<key>DATABASE_URL</key>
	<string>https://stiiick-1545628981656.firebaseio.com</string>
</dict>
</plist>