<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349572123590-qk9ceqqdmbh12i462124gti98n2jof9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349572123590-qk9ceqqdmbh12i462124gti98n2jof9t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349572123590-2dob6cqaldk646u5tf2l4d3fu613pftq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDe-OqZD2LBkBgeVKy9lkcSEAz74QMU-jE</string>
	<key>GCM_SENDER_ID</key>
	<string>349572123590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stiiick.debug</string>
	<key>PROJECT_ID</key>
	<string>stiiick-1545628981656</string>
	<key>STORAGE_BUCKET</key>
	<string>stiiick-1545628981656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349572123590:ios:adce919f25d6a5a58680c7</string>
	<key>DATABASE_URL</key>
	<string>https://stiiick-1545628981656.firebaseio.com</string>
</dict>
</plist>